@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "Minecraft";
    src: url("fonts/minecraft.ttf");
}

@font-face {
    font-family: "Minecraft";
    src: url("fonts/Minecraft-Bold.ttf");
    font-weight: bold;
}

body{
    font-family: Roboto, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.25em;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;

}

h1, h2, h3, h4, h5, h6{
    line-height: 1.25em;
}

h1{
    font-size: 6em;
    color: rgb(0, 0, 0);
}

h2{
    font-size: 1.50em;
    color: rgb(0, 0, 0);
}

h3{
    font-size: 1.25em;
    color: rgb(0, 0, 0);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;

    &:hover{
        text-decoration: none;
        color: inherit;
    }
}

.button{
    padding: 10px 15px;
    background-color: red;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.minecraft-font{
    font-family: "Minecraft";
}

.titre{
    font-size: 3em;
}

.blue{
    color: #07ABFF;
}

@logo-header-width: 170px;
@header-height: 70px;
@animTime: 0.5s;

#header{
    border-bottom: 3px solid black;
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
    z-index: 100;

    #menu{
        height: @header-height;

        a{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 100%;
            font-weight: bold;
        }
        
        .items>a{
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            transition: all 0.2s ease-in-out;

            &:hover{
                color: rgb(0, 0, 0);
                // border-bottom: 3px solid white;
                box-shadow: 0px 3px 0px white;
            }
        }
        
        .animLogo{
            animation: animLogo 0.5s linear forwards;
        }
        .animOff{
            animation-name: none;
        }


        #logo-header{
            width: @logo-header-width;
            padding: 0px 30px;
            position: relative;
            transition: @animTime;
        }

        .translateLogoOFF{
            left: 0%;
        }

        .translateLogoON{
            left: calc(100vw - 260px);
        }

        #empty-space{
            width: @logo-header-width;

            span{
                cursor: pointer;
                padding: 6px;
                background-color: black;
                // border-radius: 10px;
                height: inherit;
            }

            #menu-burger{
                font-size: 2em;
                color: white;
            }
        }
    }
}

#clouds{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -3;

    div{
        width: 100vw;
        height: 100vh;
    }

    img{
        width: 200px;
        position: relative;
        right: -200px;
    }

}

@sidenavSize: 350px;
#sidenav{
    width: @sidenavSize;
    height: 100vh;
    background-color: black;
    position: fixed;
    color: white;
    padding-top: @header-height;    
    font-weight: bold;
    transition:@animTime;
    z-index: 50;

    a{
        padding: 20px 0px;
        &:hover{
            background-color: white;
            color: black;
            transition: all 0.3s ease-in-out;
        }
    }

}

.closeSideNav{
    right: -@sidenavSize;
}

.openSideNav{
    right: 0%;
}

.darkMode{
    cursor: pointer;
}

#darkMode{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    background-color: black;
} 

#darkMode, .darkMode{
    span{
        transition: all 0.1s ease-in-out;
        padding: 10px 20px; 
        color: white;
        border: 2px solid black;
    }

    span:first-child{
        background-color: white;
        color: black;
    }

    .dark{
        span{
            background-color: white;
            color: black
        }
        span:first-child{
            background-color: black;
            color: white;
        }
    }
}


section{
    box-sizing: none;
}

#haveFun{
    background-image: url(images/tanjiro_et_mario.png);
    background-repeat: no-repeat;
    background-position: 70% 50%;
    background-size: auto 50%;
    overflow-x: hidden;

    .row{
        min-height: 100vh; 
        margin: 0px;
        
        .col-12{
            margin-top: @header-height;
        }
        
        .logos{
            width: 100%;
            position: relative;
            margin-left: 20%;;
        }
        
        #logo-svg{
            width: 74%;
        }
        
        #logo-svg-shadow{
            width: 100%;
            position: absolute;
            top: 30%;
            // fill: rgb(231, 231, 231);
            opacity: 0.075;
            z-index: -1;
            animation: animTranslate 2s ease-in-out forwards;
        }

        .minecraft-font{
            font-size: 1.5em;
            line-height: 1.4em;
            text-align: center;
        }

        .button{
            font-size: 1.1em;
        }

        img{
            padding-top: 50px;
            width: 80%;
        }

        ul{
            width: 250px;

            li{
                text-align: left;
                font-size: 0.8em;
                line-height: 2.3em;
    
                &:hover{
                    font-weight: bold;
                }
            }

        }
    }
}

.transition{
    position: relative;
    bottom: 115px;
    margin-bottom: -80px;
    line-height: 5em;
    overflow-x: hidden;

    span{
        font-size: 4em;
        position: relative;
        top: 80px;
    }

    img{
        height: 100%;
    }
}

#majs{
    min-height: 100vh;
    overflow-x: hidden;

    .titres{
        position: relative;
        text-align: right;
        padding-bottom: 50px;

        span{
            line-height: 1.2em;
        }

        span:last-child{
            font-size: 4em;
            position: absolute;
            top: 10%;
            right: -100%;
            opacity: 0.075;
            animation: animTranslate0 2s ease-in-out forwards;
            white-space: nowrap;
        }
    }

    .row{
        position: relative;
        font-size: 1.2em;
        text-align: right;

        #mario-with-cube{
            width: 500px;
            position: absolute;
            top: 0%;
            left: -100px;
            z-index: -2;
        }

        .images{
            padding-top: 30px;
        }

        .images>img:first-child{
            padding-right: 10px;
        }

        span{
            font-weight: bold;
        }

        p{
            padding-top: 20px;
        }
    }
}

@keyframes animLogo {
    0%{
        fill: black;
    }
    50%{
        fill: white;
    } 
    100%{
        fill: black;
    }
}

@keyframes animTranslate {
    0%{
        right: -100%;
    }
    100%{
        right: 30%;
    }
}

@keyframes animTranslate0 {
    to {
        right: 5%;
    }
    
}

@keyframes animCloud1 {
    to {
        right: 100vw;
    } 
}

//Jusqu'à
@media screen and (max-width: 992px) {
    #haveFun{
        background-position: 120% 50%;
    }

    #majs{
        .row{
            

            #mario-with-cube{
                top: 20%;
                left: -250px; 
            }
        }
    }
    
}

@media screen and (max-width:768px){
    #header #menu #empty-space{
        width: inherit;
    }

    #haveFun{
        background-image: none;

        .container{
            padding: 0px;
        }

        .row{
            height: 150vh;
            .logos{
                margin-left: 0%;
            }
            #logo-svg{
                width: 90%;
            }
        }
    }

    #majs{
        .row{
            .images>img:first-child{
                padding-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: 576px){
}

@media screen and (min-width:992px){
    #header #menu .items>a{
        padding: 0px 20px;
    } 
}

//À partir de...
@media screen and (min-width:768px){
     #header #menu .translateLogoON{
        left: 0%;
    }   
}
